# ========= #
# Game data #
# ========= #
/Data

# =============== #
# Unity generated #
# =============== #
Library/
Temp/
/compilation.log
/Build

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
/*.sln
/*.csproj
/.vs
/obj
*.suo
*.pidb
*.svd
*.userprefs
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
